@media (min-width: 992px) {
    .course-point-container {
        /*使两栏同高*/
        padding-bottom: 9999px;
        margin-bottom: -9999px;
    }
    .operation {
        margin-top: 90px;
    }
    .course-header img {
        width: 100%;
        height: 208px;
    }
}

.course {
    background-color: #EDF1F2;
}

.course-header {
    padding: 15px 0px;
    background-color: #fff;
}

.course-header .desc {
    line-height: 1.5;
}

.course-header img {
    width: 100%;
}

.btn-join,
.btn-star,
.btn-search {
    width: 100px;
}

.btn-star {
    position: absolute;
    top: 23px;
    right: 0;
}

.btn-star .glyphicon-star-empty {
    margin-left: 5px;
    font-size: 28px;
    vertical-align: -6px;
    color: #ffe13d;
}


/*.btn-star:hover {
    border: 1px solid #4cae4c;
    color: #4cae4c;
}*/

.btn-search {
    width: 100px;
}

.course-body {
    background-color: #fff;
    overflow: hidden;
    margin-bottom: 80px;
}

.course-body h3.title {
    border-left: 4px solid #4cae4c;
    padding-left: 20px;
}

.course-point h3.title {
    border-left: 4px solid #9be07d;
}

.course-point-container {
    background-color: #53893E;
    height: 100%;
}

.course-point {
    color: #fff;
}

.course-point .more {
    width: 100%;
    text-align: center;
}

.course-point .btn-more {
    padding: 0;
    height: 40px;
    width: 300px;
    line-height: 40px;
    border: 1px solid #333;
}

.course-point .btn-more:hover {
    color: #4cae4c;
    border: 1px solid #4cae4c;
}


/* knowledge-point */

.knowledge-point {
    margin-left: 50px;
    line-height: 25px;
    /*min-height: 300px;*/
    font-size: 16px;
}

.knowledge-point ul {
    padding: 0;
}

.knowledge-point a,
.knowledge-point a:visited {
    color: #fff;
}

.point-btn {
    position: relative;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    margin-left: -15px;
    height: 15px;
    width: 15px;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    cursor: pointer;
}

.bar,
.bar2 {
    position: absolute;
    top: 3px;
    height: 7px;
    width: 7px;
    background: none;
    border-bottom: 1px solid #d9f9cc;
    border-right: 1px solid #d9f9cc;
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    -moz-transition: 0.4s;
    -o-transition: 0.4s;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.open-bar {
    -moz-transform: rotate(225deg);
    -ms-transform: rotate(225deg);
    -webkit-transform: rotate(225deg);
    transform: rotate(225deg);
    transform-origin: 75% 105% 0;
}

.point-level-1 {
    margin-left: 10px;
}

.point-level-2 {
    margin-left: 20px;
}

.point-level-3 {
    margin-left: 30px;
}


/*route*/

.course-route {
    margin-bottom: 30px;
    min-height: 400px;
}

.course-route ul {
    padding: 0;
}

.route {
    padding: 20px 45px;
    border-bottom: 1px solid #dbdbdb;
    cursor: pointer;
}

.route a,
.route a:hover {
    text-decoration: none;
    color: #888;
}

.route .title {
    position: relative;
    color: #68aa4e;
    font-size: 18px;
}

.route:hover .title:before {
    content: '·';
    line-height: 10px;
    font-size: 80px;
    color: #68aa4e;
    position: absolute;
    left: -25px;
}


/* nav icon*/

.nav-item {
    position: relative;
    color: #555;
}

.nav-item .done {
    color: #afafaf;
}

.nav-item .done .pipe,
.nav-item .cur .pipe {
    background-color: #83c167;
}

.nav-icon {
    display: block;
    position: absolute;
    width: 40px;
    height: 100%;
    top: 0;
}

.nav-icon .pipe {
    position: absolute;
    height: 100%;
    width: 4px;
    padding-top: 2px;
    top: -1px;
    left: 18px;
    bottom: auto;
    right: auto;
    background-color: #cdcdcd;
    z-index: 10;
}

.nav-item:first-child .pipe {
    height: 50%;
    bottom: -1px;
    top: auto;
}

.nav-item:last-child .pipe {
    height: 50%;
    bottom: auto;
    top: -1px;
}

.nav-icon .status {
    position: absolute;
    height: 25px;
    width: 25px;
    -webkit-background-size: 25px 75px;
    background-size: 25px 75px;
    overflow: hidden;
    top: 50%;
    left: 8px;
    margin-top: -12px;
    z-index: 20;
}

.nav-icon .status {
    background-image: url('../images/icon_status.png');
}

.cur .nav-icon .status {
    background-position: center;
}

.done .nav-icon .status {
    background-position: bottom;
}

.progress-title {
    display: block;
    width: 100%;
    box-sizing: border-box;
    min-height: 40px;
    padding: 15px;
    padding-left: 50px;
    vertical-align: -15px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.btn-enrollroute {
    width: 100px;
    background-color: #14BE85;
    border: 1px solid #14BE85;
    color: #fff;
}

.btn-enrollroute:hover {
    background-color: #00ad70;
    border: 1px solid #00ad70;
    color: #fff;
}

/* course footer */
.course-footer{
    background-color: #fff;
    line-height: 88px;
}