
.item-panel{
    height:360px;
}
.item-pic{position:relative;}
.item-tit{height:50px;line-height: 50px;}
.item-desc div{
    height: 20px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.carousel-indicators{bottom:0px;}

h3{
    line-height: 34px;
}

.login-notice p{
    color:#888;
}

.login-notice .btn-login{
    position: relative;
    color: #14BE85;
    cursor: pointer;
    padding:0 5px;
}

.login-notice .btn-login:hover::after{
    content:'____';
    position: absolute;
    top:2px;
    left: 3px;
}
