
.item-panel{
    height:360px;
}
.item-pic{position:relative;}
.item-tit{height:50px;line-height: 50px;}
.item-desc div{
    height: 20px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.carousel-indicators{bottom:0px;}

h3{
    line-height: 34px;
}
