html[data-fixed="true"]{
    overflow: hidden;
}

body {
    padding-top: 50px;
}
ul,li{
    list-style: none;
}
a {
    color: #363f44;
    text-decoration: none;
    cursor: pointer;
}

h3{
    margin:0;
}
.wrap {
    min-height: 100%;
    height: auto;
    /*background-color: #EDF1F2;*/
}

.navbar {
    background-color: #fff;
    border: none;
}

.navbar>li:hover,
.navbar>li:focus {
    background-color: #f6f8f8;
}

.navbar a {
    color: #363f44;
}
.navbar .btn-success{color:#fff;}
.box-shadow {
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.05), 0 1px 0 rgba(0, 0, 0, 0.05);
}


/*margin*/

.m-t-sm{margin-top: 10px;}
.m-t-md{margin-top: 20px;}
.m-t-lg{margin-top: 30px;}
.m-b-sm{margin-bottom: 10px;}
.m-b-md{margin-bottom: 20px;}
.m-b-lg{margin-bottom: 30px;}
.m-l-sm{margin-left: 10px;}
.m-l-md{margin-left: 20px;}
.m-l-lg{margin-left: 30px;}
.m-r-sm{margin-right: 10px;}
.m-r-md{margin-right: 20px;}
.m-r-lg{margin-right: 30px;}

/*padding*/

.wrapper {
    padding: 15px;
}


/*float*/

.pull-right {
    float: right;
}


/*border*/

.b-a {
    border: 1px solid #dee5e7;
}


/*image*/

.img-full {
    width: 100%;
}


/*font*/
/*.text-center{
    text-align: center;
}*/
.text-md {
    font-size: 16px;
}

.font-bold {
    font-weight: 700;
}

.col-centered{
    float:none;
    margin:0 auto;
}

/*breadcrumbs*/
.breadcrumbs{
    height: 30px;
    line-height: 30px;
}
.breadcrumbs .cur{
    color:#14BE85;
}

/*pagination*/
.pagination{
    width:100%;
    margin:0 auto;
    text-align: center;
}

.pagination li{
    display: inline-block;
}


/*login popup*/
.login-form-popup.show{
    display:block;
    top:0;
    opacity: 1;
}

.login-form-popup{
    position: fixed;
    top:100%;
    opacity: 0;
    transition: opacity 120ms;
    z-index:1050;
    width:100%;
    height: 100%;
    background: rgba(245, 250, 252, 0.9);
    overflow: auto;
}

.login-form-popup .close{
    float:right;
    padding:10px;
    margin-right: 30px;
}

.login-container{
    clear: both;
    max-width: 480px;
    background-color: #fff;
    margin: 0 auto;
    border: 1px solid #ccc;
}

.login-title{
    line-height: 50px;
    font-size: 18px;
    font-weight: 700;
    color: #14BE85;
    text-align: center;
}

.btn-login{
    display: block;
    padding:0;
    width:100%;
    height: 55px;
    line-height:49px;
    background-color: #14BE85;
    border: 3px solid #14BE85;
    color: #fff;
    font-size: 20px;
    font-weight: 900;
}

.btn-login:hover{
    background-color: #fff;
    border: 3px solid #1de09c;
    color: #14BE85;
    opacity: 0.9;
}