.knowledge-point{
    background-color: #EDF1F2;;
}
.point-header,.point-nav{
    background-color: #fff;
}
.point-header .title{
    font-weight: 700;
    border-left:4px solid #4cae4c;
    padding-left: 20px;
}

.point-header .desc{
    padding: 10px 20px;
}

.point-nav{
    padding:0;
    margin-left: -15px;
    /*border:1px solid #dbdbdb;*/
}

.point-nav li{
    position: relative;
}
.point-nav .tab{
    display:block;
    height:80px;
    line-height: 80px;
    text-align: center;
    border-bottom:1px solid #dee5e7;
    font-size: 18px;
}

.point-nav .cur a{
    background-color: #4cae4c;
    color:#fff;
}

.point-nav .cur-bg{
    position:absolute;
    top:34px;
    right:23px;
    visibility: hidden;
}

.point-nav li:hover .cur-bg{
    visibility: visible;
    color:#4cae4c;
}
.point-nav .cur .cur-bg,.point-nav .cur:hover .cur-bg{
    visibility: visible;
    color:#fff;
}


.point-cont{
    padding:20px 10px;
    background-color: #fff;
}

.point-cont .title{
    margin:10px;
    padding-left:10px;
    font-size: 20px;
    font-weight: 700;
    height: 30px;
    line-height: 30px;
    border-left: 4px solid #4cae4c;
}

.point-cont img{
    width:100%;
    height:115px;
}

.point-cont .row{
    margin:0;
}
.point-cont .more{
    margin-top:6px;
    margin-right:10px;
}

.item-tit{
    height:30px;
    line-height: 30px;
}

.item-teacher,.item-meta{
    font-size: 14px;
    color:#999;
}

.source-other .source-list{
    width:95%;
}
.source-other .item{
    height:50px;
    border-bottom:1px solid #dee5e7;
}
.source-other .item a{
    height:50px;
    line-height: 50px;
}



/*全部其他资源*/
.source-other-all .item{
    position:relative;
    display:block;
    height: 80px;
    padding: 10px;
}
.source-other-all .item:hover{
    color:#4cae4c;
}

.source-other-all .item-tit{
    height:35px;
    line-height: 35px;
}
.source-other-all .item-desc{
    display: inline-block;
    *display:inline;
    *zoom:1;
    width:80%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow:ellipsis;
}
.source-other-all .item-more{
    position: absolute;
    right:12px;
    top:20px;
    display: inline-block;
    *display:inline;
    *zoom:1;
    width:20px;
    height: 40px;
    padding:10px 0;
    /*background-color: red;*/
    font-size: 20px;
}
